In [1]:
import pandas as pd

In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host='database-streamlit.czq8ik4asj60.ap-southeast-1.rds.amazonaws.com',       # e.g., 'localhost' or your RDS endpoint
    user='admin',
    password='f*_anVhnyYFRK8veG',
    database='streamlit_ecliptor'
)

In [4]:
cursor = conn.cursor()

In [ ]:
create_table_query = """
CREATE TABLE agent_actions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    document_id CHAR(36),
    flag_for_review BOOLEAN,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    input_text TEXT,
    user_decision ENUM('bad', 'no change needed', 'save changes')
);
"""

# Execute the SQL command
#cursor.execute(create_table_query)

ProgrammingError: 1050 (42S01): Table 'agent_actions' already exists

In [ ]:
cursor.close()
conn.close()

In [ ]:
conn = mysql.connector.connect(
    host='database-streamlit.czq8ik4asj60.ap-southeast-1.rds.amazonaws.com',       # e.g., 'localhost' or your RDS endpoint
    user='admin',
    password='f*_anVhnyYFRK8veG',
    database='streamlit_ecliptor')

In [ ]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

if tables:
    print("Tables in the database:")
    for table in tables:
        print(table[0])  # Print each table name
else:
    print("No tables found in the database.")

# Close the connection
cursor.close()
conn.close()

Tables in the database:
agent_actions

In [8]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host='database-streamlit.czq8ik4asj60.ap-southeast-1.rds.amazonaws.com',
    user='admin',
    password='f*_anVhnyYFRK8veG',
    database='streamlit_ecliptor'
)

query = "SELECT * FROM agent_actions a join documents d on d.id = a.document_id where a.user_decision = 'save changes' "  # Replace 'your_table_name' with the actual table name
df1 = pd.read_sql(query, conn)


conn.close()

/var/folders/f6/5bgwxwr17kj4l2trqkxd3mzr0000gn/T/ipykernel_30971/549718002.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(query, conn)

In [10]:
df1

,id,name,document_id,flag_for_review,created_at,input_text,user_decision,comment,id,doc_index,image_path,markdown,created_at
0,0057b200-582e-431e-bef5-1708feafb6a8,Carl,da0a6415-67c7-4913-934d-608f84f573da,0,2024-11-26 12:18:29,| | |Les Valeurs mobilières<br><br>Les Valeurs...,save changes,,da0a6415-67c7-4913-934d-608f84f573da,1741,image/sample_30_page_279.png,# Les Valeurs mobilières\n\nLes Valeurs mobili...,2024-11-18 17:27:34
1,00b64b46-0015-4305-826e-cc13edd78919,Carl,317d4e2b-10f7-424e-9dab-96f555aa773f,0,2024-11-26 12:10:42,#### 5. Financial assets\n\n##### A. Investmen...,save changes,,317d4e2b-10f7-424e-9dab-96f555aa773f,1739,image/Infosys Annual Report 2023-24_page_71.png,# 5. Financial assets\n\n## A. Investments\n\n...,2024-11-18 17:27:34
2,00d461e5-a6f6-4ed7-b040-664cdf4b2353,Aki,c8392a49-d846-41c2-9109-fee09452f851,0,2024-11-22 06:44:42,# Directors' Report\n\nsuspected/actual fraud ...,save changes,,c8392a49-d846-41c2-9109-fee09452f851,1024,image/HDFC Life AR 2023-2024_page_223.png,# Directors' Report\n\nsuspected/actual fraud ...,2024-11-18 17:26:59
3,02138a1a-4ee7-41c3-9f9f-f23a173ce095,CB - Carlo,dd75ff31-7d41-47d1-b0b0-4e92a18d3695,0,2024-11-26 12:22:06,| Amount | |\n|---------|------------|\n| Min...,save changes,,dd75ff31-7d41-47d1-b0b0-4e92a18d3695,1711,image/sample_30_page_293.png,| Amount | |\n|---------|------------|\n| Min...,2024-11-18 17:27:33
4,032772ec-29ee-441f-ab19-4fba3c580b5a,CB - Carlo,d1beaff5-0c88-44bc-9753-874eb1a9dc27,0,2024-11-23 12:11:00,Not Applicable\n\n# General Definitions Applic...,save changes,,d1beaff5-0c88-44bc-9753-874eb1a9dc27,1294,image/sample_30_page_295.png,# Further Definitions Applicable to the Securi...,2024-11-18 17:27:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,fdd30698-b785-4f2e-9391-1e82905747db,Andee,a80d9805-cf1b-472e-9965-8773d09fc0c5,0,2024-11-19 15:48:53,##### Product No. W2: Put Warrant and Discount...,save changes,,a80d9805-cf1b-472e-9965-8773d09fc0c5,474,image/sample_31_page_85.png,# Product No. W2: Put Warrant and Discount Put...,2024-11-18 17:26:35
1168,fea444ee-43d4-48dd-8a5a-f3c462211661,CB - Carlo,a0188572-a266-11ef-9f70-027638034b15,0,2024-11-17 10:26:56,PLEASE INCLUDE ONLY ONE TYPE OF MATERIAL ON TH...,save changes,reformat,a0188572-a266-11ef-9f70-027638034b15,104,image/87147607.png,# PURCHASE REQUISITION\n\n| PURCHASING | STATI...,2024-11-14 08:58:32
1169,fea7783c-55b7-4a19-b0fa-25036a1ee3e4,Aki,a9258141-82fc-4d2d-8430-dc1966148eba,0,2024-11-19 16:38:35,| | | |\n|---|---|---|\n| A.2 | Consentement à...,save changes,,a9258141-82fc-4d2d-8430-dc1966148eba,543,image/sample_31_page_384.png,| A.2 | Consentement à l'utilisation du Prospe...,2024-11-18 17:26:38
1170,ffd3702f-3bcb-4aee-b993-f0b385c84a1d,Carl,c0a4db9f-c6ef-4e34-bb4d-0a9b4ee1407f,0,2024-11-19 16:19:57,##### The Infosys Board of Directors\n\nAs of ...,save changes,,c0a4db9f-c6ef-4e34-bb4d-0a9b4ee1407f,487,image/Infosys Annual Report 2023-24_page_14.png,# The Infosys Board of Directors\n\nAs of Marc...,2024-11-18 17:26:35
1171,ffd69861-4449-4af3-8dea-7ba7049a9001,Andee,5554a11e-31c1-4ef4-a351-492fada41562,0,2024-11-18 15:37:31,# DIRECTORS' REPORT\n\n![SBI logo](logo_descri...,save changes,,5554a11e-31c1-4ef4-a351-492fada41562,262,image/SBIN Annual Report 2023-2024_page_97.png,# DIRECTORS' REPORT\n\n![SBI logo](logo_descri...,2024-11-18 17:26:24

In [10]:
import boto3

bucket_name = 'streamlit-images'
region = 'ap-southeast-1'  # e.g., 'us-east-1'

s3_client = boto3.client('s3', region_name=region)

paginator = s3_client.get_paginator('list_objects_v2')
pages = paginator.paginate(Bucket=bucket_name)

with open('image_urls.csv', 'w') as file:
    for page in pages:
        for obj in page.get('Contents', []):
            key = obj['Key']
            url = f'https://{bucket_name}.s3.{region}.amazonaws.com/{key}'
            file.write(f"{key},{url}\n")

In [ ]:
import os
import uuid
import pandas as pd

def create_document_entries(images_dir: str, markdown_dir: str, output_csv: str):
    files_with_no_md = 0
    """
    Create document entries from image and markdown files.

    Args:
        images_dir: Path to directory containing image files
        markdown_dir: Path to directory containing markdown files
        output_csv: Path where to save the CSV file
    """
    # Get a list of all image files
    image_files = [f for f in os.listdir(images_dir) if f.endswith(('.png', '.jpg', '.jpeg'))]

    # Initialize a list to hold document data
    documents = []

    for index, image_file in enumerate(image_files, start=1):
        index = index + 198
        # Generate a UUID
        document_uuid = str(uuid.uuid4())

        # Extract the base filename without extension
        base_filename = os.path.splitext(image_file)[0]

        # Construct the full paths
        image_path = os.path.join(images_dir, image_file)
        markdown_filename = f"{base_filename}.md"
        markdown_path = os.path.join(markdown_dir, markdown_filename)

        # Read the markdown content if it exists
        if os.path.exists(markdown_path):
            with open(markdown_path, 'r', encoding='utf-8') as md_file:
                markdown_content = md_file.read()
        else:
            markdown_content = ''
            print(f"Warning: Markdown file not found for {image_file}")
            files_with_no_md += 1


        # Create document entry
        documents.append({
            'id': document_uuid,
            'doc_index': index,
            'image_path': image_path,
            'markdown': markdown_content
        })

    print(files_with_no_md)

    # Create a DataFrame and save to CSV
    df = pd.DataFrame(documents)
    df[['doc_index', 'image_path', 'markdown']].to_csv(output_csv, index=False)

    print(f"Created {len(documents)} document entries")
    print(f"Saved to {output_csv}")

In [162]:
IMAGES_DIR = '/Users/paulobautista/Documents/ecliptor/huggingface_ds_1/huggingface_ds_1_raw'
MARKDOWN_DIR = '/Users/paulobautista/Documents/ecliptor/huggingface_ds_1/md_init'
OUTPUT_CSV = '/Users/paulobautista/Documents/ecliptor/huggingface_ds_1/document_db.csv'

In [180]:
df = pd.read_csv('/Users/paulobautista/Documents/ecliptor/huggingface_ds_1/document_db.csv')

In [181]:
def clean_image_path(path):
  path = path.split('/')[-1]
  return 'image/'+path

In [182]:
df.image_path = df.image_path.apply(clean_image_path)

In [183]:
df = df.dropna(subset=['markdown'])

In [187]:
df = df.reset_index(drop=True)

In [188]:
df.doc_index = df.index + 199

In [189]:
df.doc_index = df.index + 199

In [ ]:
from datetime import datetime

In [ ]:
conn = mysql.connector.connect(
    host='database-streamlit.czq8ik4asj60.ap-southeast-1.rds.amazonaws.com',
    user='admin',
    password='f*_anVhnyYFRK8veG',
    database='streamlit_ecliptor'
)
cursor = conn.cursor()


for index,row in df.iterrows():
  try:
    query = """
    INSERT INTO documents
    (id, doc_index, markdown, image_path, created_at)
    VALUES (%s, %s, %s, %s, %s)
    """

    values = (
        str(uuid.uuid4()),
        row.doc_index,
        row.markdown,
        row.image_path,
        datetime.now()

    )
    cursor.execute(query, values)
  except Exception as e:
    pass

In [194]:
conn.commit()

In [ ]:
def delete_high_index_documents():
    conn = None
    cursor = None
    try:
        # Connect to database
        conn = mysql.connector.connect(
            host='database-streamlit.czq8ik4asj60.ap-southeast-1.rds.amazonaws.com',
            user='admin',
            password='f*_anVhnyYFRK8veG',
            database='streamlit_ecliptor'
        )
        cursor = conn.cursor()

        # Execute delete query
        delete_query = "DELETE FROM documents WHERE doc_index > 198"
        cursor.execute(delete_query)

        # Commit the transaction
        conn.commit()

        print(f"Deleted {cursor.rowcount} rows")

    except Exception as e:
        print(f"Error: {e}")
        if conn:
            conn.rollback()
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

# Execute the function
delete_high_index_documents()

Deleted 3095 rows